<template id="image-preview-template">
    <div class="card-preview-holder col-lg-3 col-md-5">
        <button class="x-button">X</button>
        <div class="image-preview-holder">
            <img class="image-preview" src="https://class-uploader-file-storage.s3.amazonaws.com/bat.png" alt="biuobk">
        </div>
        <div class="card-body">
            <p class="card-text">A description of the image for the alt tag</p>
        </div>
    </div>
</template>