<div class="overlay d-none" id="overlay-processing-request">
  <div class="overlay-message">
    Processing your request...
  </div>
</div>

<div class="overlay d-none" id="overlay-unsaved-data-warning">
  <div class="overlay-message">
    Processing your request...
  </div>
</div>