<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Class Submitter</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script defer src="./js/helperFunctions.js"></script>
    <script defer src="./js/server-functions/img-bb-server-functions.js"></script>
    <script src="./js/server-functions/tag-server-functions.js"></script>
    <script src="./js/server-functions/category-server-functions.js"></script>
    <script src="./js/server-functions/craft-class-server-functions.js"></script>
    <script src="./js/server-functions/media-slider-server-functions.js"></script>
    <script defer src="./js/form-functions/form-functions.js"></script>
    <script defer src="./js/form-functions/warning-functions.js"></script>
    <script defer src="./js/form-functions/tag-form-functions.js"></script>
    <script defer src="./js/form-functions/image-form-functions.js"></script>
    <script defer src="./js/form-functions/class-loader-functions.js"></script>
    <script defer src="./js/form-functions/category-form-functions.js"></script>
    <script defer src="./js/form-functions/start-functions.js"></script>
    <script defer src="./js/featured-functions/featured-dropdown.js"></script>
    <script defer src="./js/featured-functions/featured-selected.js"></script>
    <script defer src="./js/featured-functions/db-swapping-functions.js"></script>
    <script defer src="./js/featured-functions/start-functions.js"></script>
    <link rel="stylesheet" href="./css/reset.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/featured.css" />
    {{! rich text editor }}
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />

    <script defer src="./js/test.js"></script>
  </head>

  <body>
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary" id="swap-button" disabled>Swap to Featured Media Sliders</button>
    </div>
    <span id="holder--class-uploader">
      {{{body}}}
    </span>
    <span class="d-none" id="holder--featured-uploader">
      {{> featuredCategoriesUploader}}
    </span>
    <script>
      var quill = new Quill('#description', { theme: 'snow' });
      var quill = new Quill('#description-whats-included', { theme: 'snow' });
      var quill = new Quill('#description-need-to-bring', { theme: 'snow' });
    </script>
  </body>

</html>